#home {
  margin-top: 110px;
  background-color: rgb(0, 0, 0);
  position: relative;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}
.info{
    margin-top: 20px;
    position: absolute;
    left: 5%;
}

.info-title{
    color: #727fde;
    padding: 8px 5px;
    border: 1px solid #727fde;
    width: 240px;
    background-color: black;
    box-shadow: 0 0 5px #727fde88;
    border-radius: 50px;
}

.info h1{
    font-size: 60px;
    max-width: 600px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 30px;
}

.info p{
    max-width: 550px;
    line-height: 25px;
    margin-bottom: 40px;
    font-size: 20px;
}

.info button{
    color: white;
    padding: 15px 35px;
    border-radius: 10px;
    border: 1px solid #727fde88;
    background-color: black;
    box-shadow: 0 0 5px #727fde88;
    cursor: pointer;
    transition: 0.3s;
}

.info button:hover{
    box-shadow: 0 0 15px #727fde86;
}

/* Gradient Animation */
.gradient{
    background: linear-gradient(to right, #008baa, #7e42a7, #6600c5, #6070fd, #2a46ff, #0099ff, #008baa);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient{
    to{
        background-position: 200%;
    }
}

.info-box{
    position: absolute;
    margin-top: 10px;
    right: 10%;
}

.info-box img{
    height: 45vh;
    box-shadow: 0 0 5px #727fde88;
    border-radius: 35%;
    transition: 0.5s;
}

.info-box img:hover{
    box-shadow: 0 0 15px #727fde88;
    content: url(C:\Users\aa\OneDrive\Desktop\CODING\portfolio\src\assets\thinking.png);
}

.scroll-down{
    height: 50px;
    width: 30px;
    border: 2px solid lightgray;
    position: absolute;
    left: 49%;
    bottom: 18%;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(211, 211, 211, 0.477);
}

.scroll-down::before,
.scroll-down::after{
    content: "";
    position: absolute;
    top: 20%;
    left: 49%;
    height: 10px;
    width: 10px;
    border: 2px solid lightgray;
    transform: translate(-50%, -100%)  rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 2s ease-in-out infinite
}

.scroll-down::before{
    top: 30%;
    animation-delay: 0.5s;
}

@keyframes scroll-down{
    0%{
        opacity: 0;
    }
    30%, 60%{
        opacity: 1;
    }
    100%{
        top: 90%;
        opacity: 0;
    }
}